
body,div,ul,li { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}


body{
	
	background: #000;
	color: #aa3e03;
	overflow:hidden;
}

.container{
	position: relative;
	text-align: center;
}





