#im1 img{
width:150px;
height:150px;
border:10px solid #ff9933;
}

.w3-modal{z-index:1;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,1,0.7)}
.w3-modal-content{margin:auto;background-color:white;position:relative;padding:0;outline:0;width:1000px;}
.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:black;font-family: Arial, Helvetica, sans-serif;}
.w3-closebtn:hover,.w3-closebtn:focus{color:black;text-decoration:none;cursor:pointer}

.w3-card-4{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}
.w3-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}

.w3-jumbo{font-size:35px !important}
.w3-yellow,.w3-hover-yellow:hover{color:white !important;background-color:#ffeb3b !important}
.w3-orange,.w3-hover-yellow:hover{color:white !important;background-color:#ff9933 !important}
.w3-green,.w3-hover-yellow:hover{color:white !important;background-color:#00cc22 !important}
.w3-tag{background-color:#000;color:white;display:inline-block;padding-left:8px;padding-right:8px;font-weight:bold;text-align:center;}

